@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* @import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json"; */

/* ::selection {
  @apply bg-accent/75 text-accent-content;
}

html {
  @apply scroll-smooth;
} */

/* body {
  @apply h-full min-h-screen w-full bg-base-100 text-base-content antialiased transition-colors;
} */

/* @layer components {
  .card.image-full:where(figure) {
    @apply rounded-none;
  }

  .card.image-full {
    @apply before:rounded-none;
  }

  .launch-stat-term {
    @apply relative flex-initial capitalize after:inline-block after:[--tw-content:":"];
  }

  .card.image-full.op-60 {
    @apply before:opacity-60;
  }

  .subtitle {
    @apply relative block break-normal text-2xl font-medium transition focus:outline-none md:break-words lg:text-3xl;
    @apply after:absolute after:-bottom-1 after:left-0 after:block after:h-0.5 after:w-full after:origin-left after:scale-x-0 after:transform after:transition-transform after:duration-300;
    @apply group-hover:text-gray-900 group-hover:after:scale-x-100 group-hover:after:bg-current dark:group-hover:text-gray-100;
    @apply group-focus-within:text-gray-900 group-focus-within:after:scale-x-100 group-focus-within:after:bg-current dark:group-focus-within:text-gray-100;
  }

  .launches-grid {
    --min: 35ch;
    --gap: theme(spacing.4);
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }

  .payload-card > :is(:where([data-testid="flowbite-card"]):only-child) {
    @apply my-0;
  }
}

.mouse-tracker {
  @apply absolute inset-0 z-20;
}

.tilt-content {
  --deg: 8deg;
  --rotX: 0;
  --rotY: 0;
  --ps: 800px;
  @apply relative bg-[length:auto_112%] bg-center bg-no-repeat transition-all duration-200;
  @apply after:absolute after:inset-0 after:block after:rounded-lg after:bg-gradient-to-b after:from-gray-900/50 after:via-transparent  after:mix-blend-multiply;
  transform: perspective(var(--ps)) rotateX(var(--rotX)) rotateY(var(--rotY));
}

.group:hover .tilt-content {
  background-size: auto 100%;
}

.mouse-tracker.r1:hover ~ .tilt-content {
  --rotX: var(--deg);
}
.mouse-tracker.r2:hover ~ .tilt-content {
  --rotX: calc(var(--deg) * 2 / 3);
}
.mouse-tracker.r3:hover ~ .tilt-content {
  --rotX: calc(var(--deg) * 1 / 3);
}
.mouse-tracker.r4:hover ~ .tilt-content {
  --rotX: calc((var(--deg) * 1 / 3) * -1);
}
.mouse-tracker.r5:hover ~ .tilt-content {
  --rotX: calc((var(--deg) * 2 / 3) * -1);
}
.mouse-tracker.r6:hover ~ .tilt-content {
  --rotX: calc(var(--deg) * -1);
}

.mouse-tracker.c1:hover ~ .tilt-content {
  --rotY: calc(var(--deg) * -1);
}
.mouse-tracker.c2:hover ~ .tilt-content {
  --rotY: calc((var(--deg) * 2 / 3) * -1);
}
.mouse-tracker.c3:hover ~ .tilt-content {
  --rotY: calc((var(--deg) * 1 / 3) * -1);
}
.mouse-tracker.c4:hover ~ .tilt-content {
  --rotY: calc(var(--deg) * 1 / 3);
}
.mouse-tracker.c5:hover ~ .tilt-content {
  --rotY: calc(var(--deg) * 2 / 3);
}
.mouse-tracker.c6:hover ~ .tilt-content {
  --rotY: var(--deg);
}

.underlined {
  @apply relative block whitespace-nowrap text-lg font-medium no-underline transition focus:outline-none;
  @apply after:absolute after:-bottom-1 after:left-0 after:block after:h-0.5 after:w-full after:origin-left after:scale-x-0 after:transform after:transition-transform after:duration-300;
  @apply text-gray-600 hover:text-gray-900 hover:after:scale-x-100 hover:after:bg-current dark:text-gray-400 hover:dark:text-gray-100;
  @apply rounded ring-offset-4 focus:text-gray-900 focus:ring-2 focus:after:scale-x-100 focus:after:bg-current dark:focus:text-gray-100;
}

.underlined.active {
  @apply text-gray-900 after:scale-x-100 after:bg-current dark:text-gray-100;
}

.underlined > h1 {
  @apply text-2xl font-bold tracking-wider text-gray-900 dark:text-gray-100;
}

.smol-css-grid {
  --min: 30ch;
  --gap: 1rem;
  @apply grid gap-10;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

.smol-card-component {
  --img-ratio: 3/2;
  @apply rounded-box flex flex-col justify-between gap-4;
}

.smol-card-component img {
  aspect-ratio: var(--img-ratio);
  @apply rounded-box w-full object-cover;
}

.smol-flexbox-grid {
  --min: 15ch;
  @apply flex flex-wrap gap-4;
}

.smol-flexbox-grid > * {
  @apply flex-auto basis-60;
}

.smol-aspect-ratio-gallery {
  --aspect-ratio: 4/3;
  @apply gap-0;
}

.smol-aspect-ratio-gallery li {
  height: max(25vh, 15rem);
  @apply relative list-none;
}

@supports (aspect-ratio: 1) {
  .smol-aspect-ratio-gallery li {
    aspect-ratio: var(--aspect-ratio);
    @apply h-auto;
  }
}

.smol-aspect-ratio-gallery img {
  @apply block h-full w-full object-cover;
}

#__next {
  @apply relative min-h-full w-full;
}

.skip-nav {
  @apply absolute -left-1/4 -top-8 -translate-y-12 transform px-4 py-3 transition-transform duration-200 focus:top-4 focus:translate-y-3;
}

#skip {
  @apply scroll-mt-5;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    @apply bg-opacity-100 backdrop-filter-none;
  }
} */

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
