.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  /* grid-auto-columns: auto; */
}

@media (min-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: minmax(256px, 25%) 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 1rem; */
    align-items: flex-start;
    justify-content: space-between;
    justify-items: flex-start;
  }
}
